location /0x0 {
    return 302 /;
}

location /0x1 {
    return 301 /posts/clangdatabasesupportforubt;
}

location /0x2 {
    return 301 /en/posts/clangdatabasesupportforubt;
}

location /0x3 {
    return 301 https://github.com/EpicGames/UnrealEngine/pull/8527; 
}

location /0x4 {
    return 302 https://www.google.com/
}
