location /0x0 {
    return 302 https://mati.byte.uy/;
}

location /0x1 {
    return 301 https://mati.byte.uy/posts/clangdatabasesupportforubt;
}

location /0x2 {
    return 301 https://mati.byte.uy/en/posts/clangdatabasesupportforubt;
}

location /0x3 {
    return 301 https://github.com/EpicGames/UnrealEngine/pull/8527; 
}

location /logs {
    return 301 https://mati.byte.uy/logs/;
}
