location /0x0 {
    return 302 https://mati.arocena.dev/logs;
}

location /0x1 {
    return 301 https://mati.arocena.dev/posts/clangdatabasesupportforubt;
}

location /0x2 {
    return 301 https://mati.arocena.dev/en/posts/clangdatabasesupportforubt;
}

location /0x3 {
    return 301 https://github.com/EpicGames/UnrealEngine/pull/8527; 
}