{{ define "main" }}
    {{ $paginator := .Paginate (.Site.RegularPages) }} 
    {{ range $paginator.Pages }}
        {{ if eq .Type "image" }}
            {{ partial "li/image.html" . }}
        {{ else if eq .Type "note" }}
            {{ partial "li/note.html" . }}
        {{ else if eq .Type "like" }}
            {{ partial "li/like.html" . }}
        {{ else if eq .Type "reply" }}
            {{ partial "li/reply.html" . }}
        {{ end }}
    {{ end }}

    {{ template "_internal/pagination.html" . }}
{{ end }}

