:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --background-color: #222225;
    --page-width: 60em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --primary-color: #62c4ff;
    --secondary-color: #a3abba;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
}

.terminal-menu {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.terminal-nav {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--secondary-color);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    border-top: 1px solid var(--secondary-color);
}

footer aside {
    width: 100%;
    border-bottom: 1px dashed var(--secondary-color);
    margin-top: 10px;
}

footer aside img {
    width: 20%;
    height: auto;
    border-radius: 50%;
}

footer ul > li::after {
    content: "";
}

footer aside ul li {   
    padding-left: 0%;
}

.post-info ul {
    display: flex;
}

.post-info ul > li::after {
    content: "";
}

.post-info ul li {   
    padding-left: 0%;
    padding-right: 5px;
}

ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.pagination > li::after {
    content: "";
}

article {
    border-bottom: 1px dashed var(--secondary-color);
}

main.container {
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.notification-container {
    position: fixed; 
    top: 10px;
    right: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    max-width: 300px;
}

.notification-container .terminal-alert {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease, fadeOut 0.3s ease 2.7s forwards;

    background-color: var(--background-color);
    color: var(--font-color);
    border: 1px solid var(--secondary-color);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
