{{ $path := .RelPermalink }} 
{{ $json := getJSON "/static/data/comments.json" }}
<ul>
  {{ range $json }}
    {{ if eq .path $path }}
      <li>
        <strong>{{ .name }}</strong> (<a href="{{ .website }}">{{ .website }}</a>) said:
        <blockquote>{{ .comment }}</blockquote>
        <time>{{ .date }}</time>
      </li>
    {{ end }}
  {{ end }}
</ul>

<form id="commentForm" action="/api/comments" method="post" >
    <label for="name">Name:</label>
    <input type="text" id="author_name" name="author_name" required>

    <label for="website">Website:</label>
    <input type="url" id="author_website" name="author_website" placeholder="optional">
    <br />
    <label for="comment">Comment:</label>
    <textarea id="comment" name="comment" required></textarea>

    <input type="hidden" id="comment_path" name="comment_path" value="{{ .RelPermalink }}">

    <br />
    <button type="submit">Comment</button>
</form>
<div id="message"></div>
