<aside>
    {{ partial "tagcloud.html" . }}
</aside>
<aside>
    <div class="hcard-display h-card vcard u-author p-author">
        <div class="hcard-header">
            <a class="u-url url fn u-uid" href="{{ i18n "siteurl" }}"><img alt='User Avatar' src='/media/profile.jpg'  class='avatar avatar-125 photo u-photo hcard-photo' height='125' width='125' itemprop="image"/></a>
            <p class="hcard-name p-name n">Matías Arocena</p>
            <p>
                <a class="u-email" href="mailto:matias@byte.uy" rel="me">matias@byte.uy</a>
            </p>
        </div> 
        <div class="hcard-body">
            <p class="p-note note">{{ i18n "gamedev" }}</p>
            <p>{{ i18n "alsoin" }}</p>
            <div class='relme'>
                <ul>
                    <li><a rel="me" class="icon-github url u-url" href="https://github.com/byte-uy" title="Matías Arocena @ GitHub">GitHub</a></li>
                    <li><a rel="me" class="icon-instagram url u-url" href="https://www.instagram.com/matias.arocena" title="Matías Arocena @ Instagram">Instagram</a></li>
                    <li><a rel="me" class="icon-mobygames.com url u-url" href="https://www.mobygames.com/person/1324632/matias-arocena" title="Matías Arocena @ website">MobyGames</a></li>
                    <li><a rel="me" class="icon-linkedin.com url u-url" href="https://www.linkedin.com/in/matiasarocena1" title="Matías Arocena @ LinkedIn">LinkedIn</a></li>
                </ul>
            </div>					
        </div>
    </div>
    <div id="site-publisher" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="BYTE.UY" />
        <meta itemprop="url" content="{{ i18n "siteurl" }}" />
    </div>    
</aside>
<aside>
    <a href="https://xn--sr8hvo.ws/previous">←</a>
    <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
    <a href="https://xn--sr8hvo.ws/next">→</a>
</aside>
